/*Formatação*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/*Estilos gerais*/
body{
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    z-index: 2;
    position: sticky;
    top: 0;
    background: rgb(131, 24, 24);
    box-shadow: 5px 5px 15px rgba(70, 69, 69, 0.219);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10% 20px 10%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
img, video{
    width: 675px;
    transition: transform 0.3s ease;
}
h3{
    color: #880000;
}
.link-img{
    font-size: 13px;
    display: block;
    margin-bottom: 40px;
}
.link-img, .link-img:visited{
    color: red;
}

/*Vídeo Flagfootball*/

video{
    background-color: #ff0000;  
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 3px solid #fff;
}

video{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Logo e imagem da logo*/

.bolalogo{
    margin-right: 10px;
    width: 25px;
}
.logo {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

/*Links da navbar e efeitos*/

.nav-links {
    list-style: none;
    display: flex;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 3px 15px;
}
.nav-links a:hover {
    background: #410f0f;
    padding: 29px 15px;
    transition: ease-in-out 0.3s;
}
/*Logo das Olimpíadas*/

.olimloginho{
    margin-right: 10px;
    width: 80px;
    margin-left: 20px;
}

/*Espaçamentos*/

.bloco.um{
    margin-top: 600px;
}
.bloco{
    width: 50%;
    margin: 50px;
    margin-left: 25%;
}
p{
    text-indent: 40px;
}
.curiosidades li, h2,h3{
    margin-bottom: 15px;
}

/*Fundo do começo*/

.imagemfundo{
    z-index: -10;
    position: fixed;
    margin: auto;
    width: 100%;
    height: 600px;
    background-image: url("flagfundo2.jpg");
    background-size: cover;
    background-position: center;
}
.textoimagem{
    color: #360000;
    background: rgba(163, 163, 163, 0.705);
    padding: 40px 20px;
    height: 250px;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-60%,-80%);
    width: 30%;
    box-shadow: 5px 5px 15px rgba(70, 69, 69, 0.219);
    border-radius: 30px;
}
.textoimagem h2{
    text-align: center;
    font-size: 50px;
}
.textoimagem h6{
    text-align: center;
    font-size: 13px;
    font-weight: 100;
}

/*Animaçãozinha card1*/

.textoimagem:hover{
    color:#880000;
    background: rgb(212, 212, 212);
    transition: ease-in-out 0.4s;
}

/*Parte 2 do site (textos e imagens)*/

.fundobranco{
    z-index: 1;
    box-shadow: 5px 5px 15px rgba(70, 69, 69, 0.219);
    background: #fff;
    padding-bottom: 10px;
}
h2.um{
    padding-top: 80px;
}

/*Acessórios*/

.acessorios {
    text-align: center;
}
.linha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.linha.dois{
    margin-left: 8%;
    width:80%;
    justify-content: left;
    top: 70%;
}
.card{
    width: 30%;
    height: 230px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 40px 20px;
    margin: 5%;
    border-radius: 20px;
    border: dashed 2px #880000;
}
.card p, .card h3{
    display: none;
}
.card h2{
    color: #880000;
    text-align: center;
    text-indent: 0;
}
.mostrar{
    border: none;
    background-color: rgba(163, 163, 163, 0.705);
    box-shadow: 5px 5px 15px rgba(48, 48, 48, 0.842);
    transition: ease-in-out 0.4s;
}
.mostrar p, .mostrar h3{
    display: block;
    text-align: center;
    text-indent: 0;
} 
.mostrar h2{
    display: none;
}

/*Animação card*/

.card.mostrar:hover{
    background-color: rgb(194, 194, 194);
    transition: ease-in-out 0.4s;    
}
.card:hover{
    background-color: none;
}


.imagemcards{
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url("flagfundo6.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 15px rgba(70, 69, 69, 0.219);
}

/*Fim de página*/

.vermelho{
    background: rgb(131, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.vermelho a, .vermelho a :visited{
    font-size: 13px;
    color: #fff;
    text-decoration:none;
    margin: 0 2% 0 0;
}
.vermelho h3{
    font-size: 13px;
    color: #fff;
    margin:0 0 0 2%;
}

footer{
    padding: 50px;
    text-align: center;
    color: #fff;
    height: 100px;
    background-color: rgb(54, 0, 0);
    width: 100%;
}
/*Carrossel*/
.carrossel {
    position: relative;
    width: 80%;
    min-height: 700px;
    margin: 0 auto;
    padding: 150px 0;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    margin: auto auto;
    min-width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    text-align: left;
    padding-left: 18%;
}
.slide p{
    width: 80%;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(131, 24, 24);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.seta:hover{
    background: #410f0f;
    font-size: 27px;
    padding: 10px 15px;
    transition: ease-in-out 0.4s;
}

.esquerda {
    left: 0;
}

.direita {
    right: 0;
}
